.footer {
  text-align: center;
}

.hero-unit {
  margin-top:60px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.well {
  margin-top: 60px;
}

.row {
  padding-top: 30px;
}

.chart, .entries {
  float: left;
}

.entries {
  width: 250px; 
}

.chart-container {
  width: 800px;
  margin: 0 auto;
}

/*/// D3 Chart Styles ///*/

.arc path {
  stroke: #fff;
}
