{% extends "layout.html" %}
{% block body %}
<div class="container-narrow">

  <div class="jumbotron">
    <h1>Symptomatic</h1>
    {% if not session.logged_in %}
    <p class="lead">Track and manage your daily symptoms with a click of an email!</p>
    <a class="btn btn-large btn-primary" href="/sign_up">Sign up today</a>
    {% else %}
    <p class="lead">Want to know how you've been feeling?</p>
    <a class="btn btn-large btn-primary" href="/find_symptoms">Find Symptoms</a>
  </div>
  {% endif %}


<div class="footer">
  <p>Made with <i class="icon-heart"></i> by <a href="https://github.com/einashaddad">einas</a> at <a href="http://www.hackerschool.com">hackerschool</a></p>
</div>

</div>

    
{% endblock %}