{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="well span6 offset3">
    <form name="input" action="/show_symptoms" method="get">
        <p class="lead">Dates:
          <input type="text" id="input1" name="start_date" size="10">
          <input type="text" id="input2" name="end_date" size="10">
          <center><div id="datepicker"></div></p>
        <button class="btn btn-large btn-primary" type="submit" name="Submit">Submit</button></center>
    </form>

    <form name="input" action="/show_all" method="get">
        <button class="btn btn-large btn-primary" type="submit" value="Find All" name="Find All">Click For All Symptoms</button>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}